*{
    margin: 10;
    padding: 10;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body{margin-left: 100px; 
    font-family: 'Roboto Slab', serif;}

/* <!-- -------------------------top-section started -----------------------> */

.top-section{display: flex;
align-items: center;}

.top-section h1{ font-size: 60px;
    font-weight: bold;}

.half-left{width: 50%;}

.half-right{width: 50%;}

.half-right img{width: 80%;}
.top-button
{   
    background-color:#E02C6D
    ;text-decoration: none;
    color:#FFFFFF;
    border-radius: 40px;
    padding: 10px 25px;
    transition: ease-out 0.5s;
}
.margin-down{margin-bottom: 40px;}
 .top-section .half-right:hover img{
    background-color: #E02C6D;
    border-radius: 50%;
    transform: scale(1.1);
    transition: transform 2s ease;}

/* <!--------------------- top section ended ------------------------------> */


/* <!------------- popular collecttion section started--------------------  --> */

.popular-collection{margin-left: 0;}
.popular-collection h1{text-align: center;
font-size: 30px;}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    margin-top: 20px;
    margin-left:50px ;
}

.product img{
    width: 70%;
}
.product-info{
    display: flex;
}
.popular-collection a{
    text-decoration: none;
    color: #E02C6DDE;
    font-size: 20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    text-align: right;
}

.product{
    width: 329px;
height: 486px;
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
margin-bottom: 30px;
}
.product-details img{
    padding:20px 10px;
    width: 300px;
height: 256px;

}
.short-note p{
    color: #787885;
    font-size: 14px;
    padding: 0 10px;
}
.product-details h2{
    padding: 0 10px;   
}
.product-info{
    padding: 0 10px;
}


/* <!------------- popular collecttion section ended--------------------  --> */



/* <!------------------------- last section started--------------------  --> */

       
.last-section{display: flex;
    align-items: center;}
    
    .last-section h1{ font-size: 60px;
        font-weight: bold;}      

       
/* <!------------- last section started -----------------------------> */



/* <!-------------------------- footer started  ---------------------------> */

.end{
    text-align: center;
    background: #0A0826;
    color: #FFFFFF;
padding:40px;
}
.end h2{
    font-size: 24px;
    font-weight: bold;
}
.end p{
    font-size: 14px;
    line-height: 30px;
}
.media-icon i{
    color: white;
    border-radius: 50%;
    margin: 20px 16px;
    font-size: 25px;
}

/* <!-------------------------- footer ended  ---------------------------> */

/* 
----------------------------------------------------------------------------------------------------------------------------media query started ---------------------------------------------------------------------------------------*/



/* -------------------------------------for mobile device--------------------------- */

@media only screen and (max-width:688px){
   
    .products{grid-template-columns: repeat(1,1fr);
    align-content: left;}
    .product, .half-left, .half-right{width: 100%;}
    .product{ width: 350px; height: 486px;}
    .top-section, .last-section{flex-direction: column;}
    
}



/* -------------------------------------for tablet device--------------------------- */



@media only screen and (min-width:688px) and (max-width:992px){
   
    .products{grid-template-columns: repeat(2,1fr);}
    
    .product, .half-left, .half-right{width: 100%;}
    .product{ width: 350px; height: 486px;}

    .top-section, .last-section{flex-direction: column;}
    
}


/* 
----------------------------------------------------------------------------------------------------------------------------media query ended ---------------------------------------------------------------------------------------*/